<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <script defer src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/' + template_name + '.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/' + template_name + '.css') }}">
    <title>SEEK THE TRUTH</title>
</head>
<body>
    <div id="main">
        <img src="{{ url_for('static', filename='img/site-logo.png') }}" id="logo">
        <div>
            <p id="lie"><u>TRUST</u> THE <u>GOVERNMENT</u></p>
            <p id="truth">OR <u>SEEK</u> THE <u>TRUTH</u><br><span>(coming soon)</span></p>
        </div>
    </div>
</body>
</html>